* {
  padding: 0px;
  margin: 0px;
  font-size: 40px;
}
.box-one {
  background-color:#cc9900;
  padding: 20px;
  border: 20px solid #997300;
  margin: 20px;
}
.box-two {
    background-color:#ff3333;
  padding: 20px;
  border: 20px solid #cc0000;
  margin: 20px;
}
.box-three {
    background-color:#99e600;
  padding: 20px;
  border: 20px solid #77b300;
  margin: 20px;
}
.box-four {
    background-color:#ffff00;
  padding: 20px;
  border: 20px solid #e6e600;
  margin: 20px;
}
.box-five {
    background-color:#805500;
  padding: 20px;
  border: 20px solid #664400;
  margin: 20px;
}
.box-six {
    background-color:#cc9900;
  padding: 20px;
  border: 20px solid #997300;
  margin: 20px;
}
